<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Log/log.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="location"></div>
            <div class="title"></div>
            <div class="set"></div>
        </div>
    </div>
    <div class="banner">
        <div class="fixed">
            <div class="backdrop"></div>
            <div class="content">
                <div class="head">搜索</div>
                <form action="">
                    <input type="text" placeholder="搜索景点、租车、日志...">
                    <div class="search">
                        <a href=""></a>
                        <span>丨</span>
                        <a href=""></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="main">
            <img src="<?php echo IMG_PATH ?>/Log/banner.png" alt="">
        </div>
        <ul>
            <li></li>
            <li></li>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="content">
        <ul>
            <li>
                <h1>#一起到世界尽头#从贝加尔湖到彼得堡莫斯科</h1>
                <div class="information">
                    <div class="details">
                        <span>2017.01.29</span>
                        <span>9天</span>
                        <span>3836次浏览</span>
                    </div>
                    <div class="address">
                        <span>俄罗斯,Olkhonsky District</span>
                    </div>
                </div>
                <a href="">
                    <img src="<?php echo IMG_PATH ?>/Log/pic.png" alt="">
                    <span>by</span>
                    <span>四月里</span>
                </a>
            </li>
            <li>
                <h1>九州·与樱花的约定</h1>
                <div class="information">
                    <div class="details">
                        <span>2017.01.29</span>
                        <span>9天</span>
                        <span>3836次浏览</span>
                    </div>
                    <div class="address">
                        <span>日本,福冈市</span>
                    </div>
                </div>
                <a href="">
                    <img src="<?php echo IMG_PATH ?>/Log/pic.png" alt="">
                    <span>by</span>
                    <span>四月里</span>
                </a>
            </li>
            <li>
                <h1>#一起到世界尽头#悄悄问圣僧，女儿国美不美</h1>
                <div class="information">
                    <div class="details">
                        <span>2017.01.30</span>
                        <span>7天</span>
                        <span>3836次浏览</span>
                    </div>
                    <div class="address">
                        <span>中国,丽江市</span>
                    </div>
                </div>
                <a href="">
                    <img src="<?php echo IMG_PATH ?>/Log/pic.png" alt="">
                    <span>by</span>
                    <span>四月里</span>
                </a>
            </li>
            <li>
                <h1>关西人民的日常</h1>
                <div class="information">
                    <div class="details">
                        <span>2017.01.29</span>
                        <span>9天</span>
                        <span>3836次浏览</span>
                    </div>
                    <div class="address">
                        <span>日本,京都市</span>
                    </div>
                </div>
                <a href="">
                    <img src="<?php echo IMG_PATH ?>/Log/pic.png" alt="">
                    <span>by</span>
                    <span>四月里</span>
                </a>
            </li>
            <li>
                <h1>埃及--遇到就是早的</h1>
                <div class="information">
                    <div class="details">
                        <span>2017.01.29</span>
                        <span>9天</span>
                        <span>3836次浏览</span>
                    </div>
                    <div class="address">
                        <span>埃及,吉萨省</span>
                    </div>
                </div>
                <a href="">
                    <img src="<?php echo IMG_PATH ?>/Log/pic.png" alt="">
                    <span>by</span>
                    <span>四月里</span>
                </a>
            </li>
            <li>
                <div class="loading">
                    <img src="<?php echo IMG_PATH ?>/Log/loading.png" alt="">
                    <span>正在努力加载,请耐心等待奥~</span>
                </div>
            </li>
        </ul>
    </div>
<div class="footer">
    <ul>
        <li>
            <p>首页</p>
        </li>
        <li>
            <p>日志</p>
        </li>
        <li>
            <p></p>
        </li>
        <li>
            <p>租车</p>
        </li>
        <li>
            <p>我的</p>
        </li>
    </ul>
</div>
</body>
</html>