<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="return"></div>
        <div class="title">
            <p>日志详情</p>
            <span>POPULAR SCENERY</span>
        </div>
    </div>
</div>
<div class="content">
    <div class="main">
        <div class="page">
            <div class="min">
                <p>说到徽州不得不提的两样东西:中国第一奇山,黄山;作为中国三大 地域文化发源地之一的“徽文化”。 <br/>PS黄山的远山云海</p>
                <div class="time">
                    <div class="timeL">
                        <img src="../../static/imgs/time.png" alt="">
                        <span>06.28 20:32</span>
                    </div>
                    <div class="domain"></div>
                </div>
            </div>
        </div>
        <div class="like">
            <h3>99<span>人喜欢</span></h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="comments">
            <h3>79<span>人评论</span></h3>
            <ul>
                <li>
                    <img src="../../static/imgs/icon.png" alt="">
                    <div class="content">
                        <span><a href="">狮子马:</a>好像水墨画啊, 好棒啊</span>
                        <span>昨天 13:44</span>
                    </div>
                </li>
                <li>
                    <img src="../../static/imgs/icon.png" alt="">
                    <div class="content">
                        <span><a href="">狮子马</a>:好像水墨画啊, 好棒啊</span>
                        <span>昨天 13:44</span>
                    </div>
                </li>
            </ul>
        </div>
        <form action="">
            <input type="text" placeholder="添加评论" name="text" class="text">
            <input type="submit" value="提交" name="submit" class="submit">
        </form>
    </div>
</div>
</body>
</html>