<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Log/screen3.css">
</head>
<body>
<div class="header">
    <div class="main">
        <a href="">跳过</a>
    </div>
</div>
<div class="content">
    <div class="main">
        <div class="head">
            <div class="balloon"></div>
            <div class="tex scale"></div>
            <div class="bus"></div>
        </div>
        <div class="character">
            <div class="chinese">
                <p>让租车变得</p>
                <h1 class="scale1">无拘无束</h1>
            </div>
            <div class="english">
                <p>Now dream,think that having a dream that we</p>
                <p>have an idea,</p>
                <h3>then we will do all the target</h3>
            </div>
        </div>
        <div class="button opacity"><a href="">即刻开启</a></div>
    </div>
</div>
</body>
</html>