<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>首页</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/CarRent/carrent.css">
</head>
<body>
    <header>
        <a href="" class="location"></a>
        <div class="title"></div>
        <a href="" class="setting"></a>
    </header>

    <ul class="content">
        <li>
            <a href="/index.php/index/Order_details"></a>
        </li>
        <li>
            <a href="/index.php/index/Order_details"></a>
        </li>
        <li>
            <a href="/index.php/index/Order_details"></a>
        </li>
        <li>
            <a href="/index.php/index/Order_details"></a>
        </li>
    </ul>

    <footer>
        <div class="bacPoint">
            <div class="point"></div>
            <div class="point"></div>
        </div>
        <ul>
            <li>
                <div class="img"></div>
                <p>首页</p>
                <a href="/index.php"></a>
            </li>
            <li>
                <div class="img"></div>
                <p>日志</p>
                <a href="/index.php/index/log"></a>
            </li>
            <li>
                <div class="div_008"></div>
                <div class="img"></div>
                <p>租车</p>
                <a href=""></a>
            </li>
            <li>
                <div class="img"></div>
                <p>我的</p>
                <a href="/index.php/index/personal"></a>
            </li>
        </ul>
        <div class="add"></div>
    </footer>


</body>
</html>