<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>首页</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/CarRent/carrent.css">
</head>
<body>
    <header>
        <a href="" class="location"></a>
        <div class="title"></div>
        <a href="" class="setting"></a>
    </header>

    <div class="content">
        <div class="search">
            <a href="">
                <img src="<?php echo IMG_PATH?>/log/search.png" alt="">
                <span>搜索景点、租车、日志...</span>
            </a>
            <div class="select">
                <div>
                    <p>全部目的地</p>
                    <p>Destination</p>
                </div>
                <div class="vertical"></div>
                <div>
                    <p>综合排行</p>
                    <p>Destination</p>
                </div>
                <div class="vertical"></div>
                <div>
                    <p>筛选</p>
                    <p>Select</p>
                </div>
            </div>
            <div class="fixed">
                <div class="link"></div>
                <div class="link"></div>
            </div>
        </div>
        <ul>
            <li>
                <div class="car"></div>
                <div class="point"></div>
                <div class="describe">
                    <div class="hot"></div>
                    <div class="title">
                        <span>保时捷新能源</span>
                        <img src="<?php echo IMG_PATH?>/log/huo1.png" alt="">
                    </div>
                    <div class="english">
                        <p>VOLKSWAGEN<span>JETTA</span></p>
                    </div>
                    <div class="dotted"></div>
                    <div class="min">
                        <p>自动挡,开着方便,省油耐开,动力足,最满意的一 点就是操纵感觉...</p>
                    </div>
                    <div class="money">
                        <div class="line"></div>
                        <p>RMB:&nbsp;<span>688.00</span>/天</p>
                    </div>
                    <div class="evaluate">
                        <div class="note">
                            <img src="<?php echo IMG_PATH?>/log/note.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="heart">
                            <img src="<?php echo IMG_PATH?>/log/heart.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="star">
                            <img src="<?php echo IMG_PATH?>/log/star.png" alt="">
                            <p>6400</p>
                        </div>
                    </div>
                </div>
                <div class="position">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <a href="/index.php/index/Order_details"></a>
            </li>
            <li>
                <div class="car"></div>
                <div class="point"></div>
                <div class="describe">
                    <div class="hot"></div>
                    <div class="title">
                        <span>保时捷新能源</span>
                        <img src="<?php echo IMG_PATH?>/log/huo1.png" alt="">
                    </div>
                    <div class="english">
                        <p>VOLKSWAGEN<span>JETTA</span></p>
                    </div>
                    <div class="dotted"></div>
                    <div class="min">
                        <p>自动挡,开着方便,省油耐开,动力足,最满意的一 点就是操纵感觉...</p>
                    </div>
                    <div class="money">
                        <div class="line"></div>
                        <p>RMB:&nbsp;<span>688.00</span>/天</p>
                    </div>
                    <div class="evaluate">
                        <div class="note">
                            <img src="<?php echo IMG_PATH?>/log/note.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="heart">
                            <img src="<?php echo IMG_PATH?>/log/heart.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="star">
                            <img src="<?php echo IMG_PATH?>/log/star.png" alt="">
                            <p>6400</p>
                        </div>
                    </div>
                </div>
                <div class="position">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <a href="/index.php/index/Order_details"></a>
            </li>
            <li>
                <div class="car"></div>
                <div class="point"></div>
                <div class="describe">
                    <div class="hot"></div>
                    <div class="title">
                        <span>保时捷新能源</span>
                        <img src="<?php echo IMG_PATH?>/log/huo1.png" alt="">
                    </div>
                    <div class="english">
                        <p>VOLKSWAGEN<span>JETTA</span></p>
                    </div>
                    <div class="dotted"></div>
                    <div class="min">
                        <p>自动挡,开着方便,省油耐开,动力足,最满意的一 点就是操纵感觉...</p>
                    </div>
                    <div class="money">
                        <div class="line"></div>
                        <p>RMB:&nbsp;<span>688.00</span>/天</p>
                    </div>
                    <div class="evaluate">
                        <div class="note">
                            <img src="<?php echo IMG_PATH?>/log/note.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="heart">
                            <img src="<?php echo IMG_PATH?>/log/heart.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="star">
                            <img src="<?php echo IMG_PATH?>/log/star.png" alt="">
                            <p>6400</p>
                        </div>
                    </div>
                </div>
                <div class="position">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <a href="/index.php/index/Order_details"></a>
            </li>
            <li>
                <div class="car"></div>
                <div class="point"></div>
                <div class="describe">
                    <div class="hot"></div>
                    <div class="title">
                        <span>保时捷新能源</span>
                        <img src="<?php echo IMG_PATH?>/log/huo1.png" alt="">
                    </div>
                    <div class="english">
                        <p>VOLKSWAGEN<span>JETTA</span></p>
                    </div>
                    <div class="dotted"></div>
                    <div class="min">
                        <p>自动挡,开着方便,省油耐开,动力足,最满意的一 点就是操纵感觉...</p>
                    </div>
                    <div class="money">
                        <div class="line"></div>
                        <p>RMB:&nbsp;<span>688.00</span>/天</p>
                    </div>
                    <div class="evaluate">
                        <div class="note">
                            <img src="<?php echo IMG_PATH?>/log/note.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="heart">
                            <img src="<?php echo IMG_PATH?>/log/heart.png" alt="">
                            <p>6400</p>
                        </div>
                        <div class="star">
                            <img src="<?php echo IMG_PATH?>/log/star.png" alt="">
                            <p>6400</p>
                        </div>
                    </div>
                </div>
                <div class="position">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <a href="/index.php/index/Order_details"></a>
            </li>
            <li>
                <div class="loading">
                    <img src="<?php echo IMG_PATH ?>/Log/loading.png" alt="">
                    <span>正在努力加载,请耐心等待奥~</span>
                </div>
            </li>
        </ul>
    </div>

    <footer>
        <div class="bacPoint">
            <div class="point"></div>
            <div class="point"></div>
        </div>
        <ul>
            <li>
                <div class="img"></div>
                <p>首页</p>
                <a href="/index.php"></a>
            </li>
            <li>
                <div class="img"></div>
                <p>日志</p>
                <a href="/index.php/index/log"></a>
            </li>
            <li>
                <div class="div_008"></div>
                <div class="img"></div>
                <p>租车</p>
                <a href=""></a>
            </li>
            <li>
                <div class="img"></div>
                <p>我的</p>
                <a href="/index.php/index/personal"></a>
            </li>
        </ul>
        <div class="add"></div>
    </footer>


</body>
</html>