@charset "UTF-8";
@import url(../base.css);
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px;
  background: #F5F5F5;
  -webkit-tap-highlight-color: transparent;
  font-family: "苹方 粗体","微软雅黑",sans-serif; }

.container-fluid {
  width: 100%;
  padding: 0 0.24rem;
  height: 100%; }

.header {
  width: 100%;
  height: 1.1rem;
  background: #1CC120; }
  .header .nav {
    width: 100%;
    height: 0.88rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center; }
    .header .nav .return a {
      display: block;
      width: 0.44rem;
      height: 0.44rem; }
      .header .nav .return a span {
        display: block;
        width: 100%;
        height: 100%;
        background: url("/Static/img/search/back.png") no-repeat center center;
        background-size: cover; }
    .header .nav .title {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      flex-direction: column;
      color: #fff;
      justify-content: center;
      align-items: center; }
      .header .nav .title h2 {
        font-size: 14px; }
      .header .nav .title span {
        font-size: 10px;
        font-weight: normal; }
  .header .search {
    width: 100%;
    height: 0.8rem;
    background: #fff;
    border-radius: 0.12rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center; }
    .header .search button {
      flex: 0 0 20%;
      font-size: 15px;
      color: #FCC727;
      background: none;
      border: 0;
      display: flex;
      display: -webkit-flex;
      justify-content: space-around;
      align-items: center;
      outline: none; }
      .header .search button span {
        display: block;
        border-radius: 50%;
        width: 0.05rem;
        height: 0.05rem; }
        .header .search button span:nth-child(1) {
          background: #1D4BE9; }
        .header .search button span:nth-child(2) {
          background: #1CC120; }
    .header .search .s-xian {
      height: 86%;
      border: 1px dashed #D3D3D3;
      margin: 0.1rem 0; }
    .header .search .search-p {
      flex: 0 0 60%;
      height: 100%;
      border: 0;
      padding: 0.1rem;
      outline: none;
      color: #727272; }
    .header .search .vioce {
      display: block;
      width: 0.24rem;
      height: 0.4rem; }
      .header .search .vioce span {
        display: block;
        width: 100%;
        height: 100%;
        background: url("/Static/img/search/voice.png") no-repeat center center;
        background-size: cover; }

.sorry {
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.9rem; }
  .sorry .images {
    width: 0.75rem;
    height: 1rem; }
    .sorry .images span {
      display: block;
      width: 100%;
      height: 100%;
      background: url("/Static/img/search/logo2.png") no-repeat center center;
      background-size: cover; }
  .sorry .title {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding-left: 0.1rem; }
    .sorry .title h2 {
      font-size: 24px;
      color: #FCC727; }
    .sorry .title span {
      font-size: 12px;
      color: #999; }

.history-title {
  padding: 0.3rem 0 0.24rem;
  display: flex;
  display: -webkit-flex; }
  .history-title .collect {
    display: block;
    width: 0.54rem;
    height: 0.54rem;
    background: url("/Static/img/search/collect.png") no-repeat center center;
    background-size: cover;
    margin-right: 0.1rem;
    align-self: center; }
  .history-title h2 {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    font-size: 14px;
    color: #333; }
    .history-title h2 span {
      font-size: 12px;
      color: #666;
      font-weight: normal; }
      .history-title h2 span code {
        color: #1CC120;
        font-weight: bold; }

.correlation {
  width: 100%;
  height: auto; }
  .correlation .correlation-list {
    width: 100%;
    height: auto; }
    .correlation .correlation-list ul {
      width: 100%;
      height: auto; }
      .correlation .correlation-list ul li {
        width: 100%;
        height: 2.92rem;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 0.12rem; }
      .correlation .correlation-list ul .recom {
        width: 100%;
        height: 100%;
        padding-left: 0.28rem;
        background: url("/Static/img/search/roc_1.jpg") no-repeat center center;
        background-size: cover;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-around; }
        .correlation .correlation-list ul .recom h2 a {
          font-size: 15px;
          color: #fff; }
        .correlation .correlation-list ul .recom .detail {
          border-left: 6px solid #FCC727;
          padding-left: 0.1rem; }
          .correlation .correlation-list ul .recom .detail p {
            font-size: 8px;
            color: #fff; }
            .correlation .correlation-list ul .recom .detail p span {
              padding: 0 0.15rem; }
          .correlation .correlation-list ul .recom .detail span {
            font-size: 8px;
            color: #fff;
            padding: 0 0.15rem; }
        .correlation .correlation-list ul .recom .from {
          display: flex;
          display: -webkit-flex; }
          .correlation .correlation-list ul .recom .from .head {
            display: block;
            width: 0.32rem;
            height: 0.32rem;
            background: url("/Static/img/search/heard.jpg") no-repeat top center;
            background-size: cover;
            border-radius: 50%; }
          .correlation .correlation-list ul .recom .from span {
            font-size: 8px;
            color: #fff; }
      .correlation .correlation-list ul li:nth-child(2) .recom {
        background: #1D4BE9 url("/Static/img/search/roc_2.png") no-repeat center center;
        background-size: cover; }
      .correlation .correlation-list ul li:nth-child(3) .recom {
        background: url("/Static/img/search/roc_3.jpg") no-repeat center center;
        background-size: cover; }
