<link rel="stylesheet" href="<?php echo CSS_PATH ?>/tab_footer.css">
<footer>
    <div class="bacPoint">
        <div class="point"></div>
        <div class="point"></div>
    </div>
    <ul>
        <li>
            <div class="div_008"></div>
            <div class="img"></div>
            <p>首页</p>
            <a href=""></a>
        </li>
        <li>
            <div class="img"></div>
            <p>日志</p>
            <a href="/index.php/index/log"></a>
        </li>
        <li>
            <div class="img"></div>
            <p>租车</p>
            <a href="/index.php/index/car_rent"></a>
        </li>
        <li>
            <div class="img"></div>
            <p>我的</p>
            <a href="/index.php/index/personal"></a>
        </li>
    </ul>
    <div class="add"></div>
</footer>