<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Search/search_later.css">
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <div class="container-fluid">
            <div class="nav">
                <div class="return">
                    <a href="#"><span></span></a>
                </div>
                <div class="title">
                    <h2>
                        搜索
                    </h2>
                    <span>SEARCH</span>
                </div>
                <div class="kong" style="opacity:0;">
                    <a href="#"><span>...</span></a>
                </div>
            </div>
            <div class="search">
                <button>
                    <span></span>
                    <span></span>
                    Search
                </button>
                <span class="s-xian"></span>
                <input type="text" class="search-p">
                <a href="#" class="vioce"><span></span></a>
            </div>
        </div>
    </div>
</header>
<!--头部结束-->
<!--sorry开始-->
<div class="sorry">
    <div class="images">
        <span></span>
    </div>
    <div class="title">
        <h2>Sorry</h2>
        <span>主人，小行尽力了</span>
        <span>No information you have searched</span>
    </div>
</div>
<!--sorry结束-->
<!--相关推荐开始-->
<div class="container-fluid">
    <div class="correlation">
        <div class="history-title">
            <span class="collect"></span>
            <h2>
                相关推荐
                <span>
                    <code>RECOM</code>
                    MEND
                </span>
            </h2>
        </div>
        <div class="correlation-list">
            <ul>
                <li>
                    <div class="recom">
                        <h2><a href="#">#一起到世界的尽头#悄悄问圣僧，女儿国美不美</a></h2>
                        <div class="detail">
                            <p>
                                <span>2017.1.30</span>
                                <span>7天</span>
                                <span>6836次浏览</span>
                            </p>
                            <span>中国，丽江市</span>
                        </div>
                        <div class="from">
                            <span class="head"></span>
                            <span>by四月星</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recom">
                        <h2><a href="#">关西人民日常</a></h2>
                        <div class="detail">
                            <p>
                                <span>2017.1.29</span>
                                <span>9天</span>
                                <span>6836次浏览</span>
                            </p>
                            <span>中国，丽江市</span>
                        </div>
                        <div class="from">
                            <span class="head"></span>
                            <span>by四月星</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recom">
                        <h2><a href="#">关西人民日常</a></h2>
                        <div class="detail">
                            <p>
                                <span>2017.1.29</span>
                                <span>9天</span>
                                <span>6836次浏览</span>
                            </p>
                            <span>中国，丽江市</span>
                        </div>
                        <div class="from">
                            <span class="head"></span>
                            <span>by四月星</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--相关推荐结束-->
</body>
</html>