<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Search/search.css">
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <div class="container-fluid">
            <div class="nav">
                <div class="return">
                    <a href="#"><span></span></a>
                </div>
                <div class="title">
                    <h2>
                        搜索
                    </h2>
                    <span>SEARCH</span>
                </div>
                <div class="kong" style="opacity:0;">
                    <a href="#"><span>...</span></a>
                </div>
            </div>
            <div class="search">
                <button>
                    <span></span>
                    <span></span>
                    Search
                </button>
                <span class="s-xian"></span>
                <input type="text" class="search-p">
                <a href="#" class="vioce"><span></span></a>
            </div>
        </div>
    </div>
</header>
<!--头部结束-->
<!--搜索历史开始-->
<div class="container-fluid">
    <div class="search-history">
        <div class="history-title">
            <span class="collect"></span>
            <h2>
                搜索历史
                <span>
                    <code>SEARCH</code>
                    HISTORY
                </span>
            </h2>
        </div>
        <div class="history-list">
            <ul>
                <li>
                    <a href="#">
                        <span class="left"></span>
                        青岛
                        <span class="right"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="left"></span>
                        三亚
                        <span class="right"></span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="left"></span>
                        西安
                        <span class="right"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="left"></span>
                        婺源
                        <span class="right"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="left"></span>
                        稻城
                        <span class="right"></span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <span class="left"></span>
                        大理
                        <span class="right"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="left"></span>
                        丽江
                        <span class="right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--搜索历史结束-->
<!--热门推荐开始-->
<div class="container-fluid">
    <div class="hot-recommend">
        <div class="history-title">
            <span class="collect"></span>
            <h2>
                热门推荐
                <span>
                    <code>RECOM</code>
                    MEND
                </span>
            </h2>
        </div>
        <div class="hot-list">
            <ul>
                <li class="project bgcolor">
                    <a href="#">
                        <span class="project-img"></span>
                        <span class="clear"></span>
                        <div class="look">
                            <div class="more">
                                <span class="left"></span>
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <span class="right"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="bg-drawing">
                    <a href="#">
                        <span></span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="drawing">
                    <a href="#">
                        <span></span>
                    </a>
                </li>
                <li class="project">
                    <a href="#">
                        <span class="project-img"></span>
                        <span class="clear"></span>
                        <div class="look">
                            <div class="more mcolor">
                                <span class="left"></span>
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <span class="right"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="drawing d2">
                    <a href="#">
                        <span></span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="project">
                    <a href="#">
                        <span class="project-img"></span>
                        <span class="clear"></span>
                        <div class="look">
                            <div class="more mcolor">
                                <span class="left"></span>
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <span class="right"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="drawing d3">
                    <a href="#">
                        <span></span>
                    </a>
                </li>
                <li class="project">
                    <a href="#">
                        <span class="project-img"></span>
                        <span class="clear"></span>
                        <div class="look">
                            <div class="more mcolor">
                                <span class="left"></span>
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <span class="right"></span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--热门推荐结束-->
<!--遮罩开始-->
<div class="shade">
    <div class="shade-son">
        <!--无法识别开始-->
        <div class="discern">
            <div class="discern-items">
                <div class="images">
                    <span></span>
                </div>
                <h2>您输入时间过长 小行无法识别</h2>
                <p>
                    NINDEYUY
                    <span>INGUOCHA</span>
                    NGSHIBAI
                </p>
                <span class="bight"></span>
                <div class="select">
                    <ul>
                        <li>
                            <a href="#" class="yellow">
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                </div>
                                <h5>
                                    重新语音
                                    <!--<span>ANEWVOICE</span>-->
                                </h5>
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                </div>
                                <h5>
                                    换种方式
                                    <!--<span>EXCHANGEWAY</span>-->
                                </h5>
                                <div class="dian">
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--无法识别结束-->
    </div>
</div>
<!--遮罩结束-->
</body>
</html>
