<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Search/search_network.css">
</head>
<body>
<!--头部开始-->
<header>
    <div class="header">
        <div class="container-fluid">
            <div class="nav">
                <div class="return">
                    <a href="#"><span></span></a>
                </div>
                <div class="title">
                    <h2>
                        搜索
                    </h2>
                    <span>SEARCH</span>
                </div>
                <div class="kong" style="opacity:0;">
                    <a href="#"><span>...</span></a>
                </div>
            </div>
            <div class="search">
                <button>
                    <span></span>
                    <span></span>
                    Search
                </button>
                <span class="s-xian"></span>
                <input type="text" class="search-p">
                <a href="#" class="vioce"><span></span></a>
            </div>
        </div>
    </div>
</header>
<!--头部结束-->
<!--无信号开始-->
<div class="signal">
    <div class="images">
        <span></span>
    </div>
    <h3>Sorry 未连接到地球信号</h3>
    <div class="btn">
        <a href="/index.php/index/search"><button>重新加载</button></a>
    </div>
</div>
<!--无信号结束-->
</body>
</html>