@import "../mixin.scss";
@import url(../base.css);
$img:"/Static/img/pay/";
body{
  background: #fff;
}
.inner{
  width:92%;
  margin: 0 auto;
}
.title{
  width:100%;
  height:0.88rem;
  background: #1CC120;
  .title_inner{
    height:100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .title_back{
      display: inline-block;
      width:0.44rem;
      height:0.44rem;
      background-image: url($img +"2.png");
      background-size: cover;
    }
    .title_title{
      margin: 0 auto;
      color: #fff;
      display: flex;
      flex-direction: column;
      h5{
        font-size: 0.28rem;
        font-weight: normal;
        text-align: center;
      }
      span{
        font-size: 0.2rem;
      }
    }
    .title_right{
      width:0.44rem;
      height:0.44rem;
    }
  }
}
.content{
  width:100%;
  height:100%;
  padding-top: 0.52rem;
  .BankCard_info{
    width:100%;
    height:2.3rem;
    border-radius: 0.1rem;
    box-shadow: #999 0px 0px 5px;
    overflow: hidden;
    .left{
      width:47%;
      height:100%;
      background-image: url($img +"4.png");
      float: left;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #FAFAFA;
    }
    .right{
      width:53%;
      height:100%;
      float: left;
      padding-left: 0.3rem;
      .bank{
        width:3.04rem;
        height:50%;
        border-bottom: 1px solid #E1E1E1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .top{
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5{
            font-size: 0.28rem;
            font-weight: inherit;
            color: #6E6E6E;
          }
          a{
            display: inline-block;
            width:0.89rem;
            height:0.5rem;
            background-image: url($img +"5.png");
            background-size: cover;
          }
        }
        p{
          font-size: 0.18rem;
          color: #6E6E6E;
        }
      }
      .CardNumber{
        width:3.04rem;
        height:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .number{
          font-size: 0.24rem;
          color: #6E6E6E;
        }
        .CardName{
          display: flex;
          align-items: center;
          p{
            font-size: 0.26rem;
            color: #B1B1B1;
          }
          .circle{
            width:0.08rem;
            height:0.08rem;
            border-radius: 50%;
            margin-top: 0.05rem;
          }
          .circle:nth-child(2){
            margin-left: 0.15rem;
            background: #2EA4FF;
          }
          .circle:nth-child(3){
            margin-left: 0.02rem;
            background: #138D16;
          }
        }
      }
    }
  }
  .password{
    display: flex;
    justify-content: space-between;
    margin-top: 0.85rem;
    li{
      input{
        width:0.88rem;
        border: none;
        border-bottom: 0.1rem solid #000;
        font-size: 0.8rem;
        text-align: center;
        outline: none;
      }
    }
    li:nth-child(4){
      input{
        color: #1E88EF;
        border-bottom: 0.1rem solid #1E88EF;
      }
    }
  }
  .Complete_payment{
    margin-top: 0.97rem;
    text-align: center;
    h3{
      font-size: 0.36rem;
      color: #333333;
      font-weight: normal;
    }
    p{
      font-size: 0.2rem;
      color: #999999;
    }
  }
}
.mask{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .content{
    width:5.23rem;
    height:4.24rem;
    background: url($img +"25.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    .produce{
      position: absolute;
      bottom: 0;
      margin-bottom: 1.15rem;
      h3{
        font-size: 0.26rem;
        font-weight: normal;
        color: #484C4F;
      }
      h4{
        font-size: 0.18rem;
        font-weight: normal;
        color: #868686;
      }
    }
    .btn{
      width:3.88rem;
      height:0.74rem;
      background: blue;
      align-self: flex-end;
      border: 2px solid #fff;
      background: #31363A;
      border-radius: 0.5rem;
      box-shadow: #999 0px 0px 2px;
      padding: 0.05rem;
      display: flex;
      li{
        flex: 1;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.22rem;
          color: #8D5F17;
          font-weight: normal;
          letter-spacing: 0.02rem;
          p{
            color: #fff;
          }
        }
        span{
          font-size: 0.126rem;
        }
      }
      li:nth-child(1){
        background: #FDD01E;
      }
      li:nth-child(2){
        h5{
          color: #656B70;
          margin-bottom: 0.01rem;
          p{
            color: #1EC932;
          }
        }
      }
    }
  }
}
.success{
  display: none;
  .content{
    .btn{
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.fail{
  display: none;
  .content{
    background-image: url($img +"26.png");
    .btn{
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}