@import "../mixin";
@import url('../base.css');

$img: '/Static/img/personal/';
body{
    background: url($img +'15.png') no-repeat top/100% auto;
}
//签名

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93.6%;
    height: 0.88rem;
    margin: 0 auto;
    .nav_box{
        width: 0.47rem;
        height: 0.47rem;
        background: pink;
    }
    .situer{
        background: url($img +'situer.gif') no-repeat center/0.47rem;
    }
    .jour{
        background: url($img +'aa11.gif') no-repeat center;
        background-size: 0.73rem 0.67rem;
    }
}
//头像 修改签名
.header_con{
    display: flex;
    align-items: flex-end;
    width: 93.6%;
    height: 2.97rem;
    margin: 0 auto;
    .con_box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:85.59%;
        height: 2.01rem;
        margin: 0 auto;
    }
    .write{
        width: 0.6rem;
        height: 0.6rem;
        border-radius:50%;
        background: url($img +'write.gif') no-repeat center/0.6rem;
    }
    .header{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: url($img +'header.gif') no-repeat center/2rem;
    }
    .setting{
        width: 0.6rem;
        height:0.6rem;
        border-radius: 50%;
        background: url($img +'setting.gif') no-repeat center/0.6rem;
    }
}
//星级
.star_box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 67.6%;
    height: 0.47rem;
    margin: 0 auto;
    .star{
            width: 0.24rem;
            height:0.24rem;
            background: url($img +'star.gif') no-repeat center/0.22rem;
    }
}

//签名
.singer_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 67.6%;
    height: 1.66rem;
    margin: 0 auto;
    .name_zh{
        font-size:0.3rem;
    }
    .name_us{
        font-size:0.24rem;
    }
    .singer{
        font-size:0.22rem;
    }
}
//粉丝和关注
.attenfans{
    display: flex;
    justify-content: space-between;
    width: 93.6%;
    height:1.8rem;
    .myatten_bg{
        width: 3.37rem;
        height: 1.44rem;
        border-radius: 0.05rem;
        background: url($img +'atten.gif') no-repeat center/3.37rem 1.44rem;
    }
    .myfans_bg{
        width: 3.37rem;
        height: 1.44rem;
        border-radius: 0.05rem;
        background: url($img +'fansbg.gif') no-repeat center/3.37rem 1.44rem;
    }
}
.faculte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93.6%;
    height: 4.54rem;
    margin: 0 auto;
    //  background: pink;
    .facultebox{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 0.83rem;
        //  background: pink;

        .facultebox_left{
            display: flex;
            width: 3.37rem;
            height: 100%;
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0.93rem;
                height: 100%;
                //              background: blueviolet;
                .cir{
                    width: 0.58rem;
                    height: 0.58rem;
                    border-radius: 50%;
                }
                .news_cir{
                    background: url($img +'news.gif') no-repeat center/0.58rem;
                }
                .oeder_cir{
                    background: url($img +'oeder.gif') no-repeat center/0.58rem;
                }
                .wallet_cir{
                    background: url($img +'wallet.gif') no-repeat center/0.58rem;
                }
                .privilege_cir{
                    background: url($img +'privilege.gif') no-repeat center/0.58rem;
                }
                .volunteer_cir{
                    background: url($img +'volunteer.gif') no-repeat center/0.58rem;
                }
                .collection_cir{
                    background: url($img +'collection.gif') no-repeat center/0.58rem;
                }
            }
            .fonts{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 2.44rem;
                height: 100%;
                .fonts_zh{
                    font-size: 0.24rem;
                    color:#333;
                }
                .fonts_us{
                    font-size: 0.2rem;
                    color:#aaa;
                }
            }
        }
        .facultebox_right{
            width: 3.37rem;
            height: 100%;
            .btn_box{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 3.15rem;
                height: 100%;
                //  background: pink;
                .news_btn{
                    width: 0.72rem;
                    height: 0.42rem;
                    border-radius: 0.3rem;
                    background: #ff3469;
                    text-align: center;
                    line-height: 0.42rem;
                    font-size:0.22rem;
                    color:#fff;
                }
                .btns{
                    width: 0.38rem;
                    height: 0.38rem;
                    border-radius: 50%;
                    background: url($img +'btns.gif') no-repeat center/0.38rem;
                }
            }
        }
    }
}

//个人动态
.tandance{
    display: flex;
    justify-content: space-between;
    width: 93.6%;
    height: 2.13rem;
    margin: 0.2rem auto 1.8rem;
    .tan_headbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width:1.48rem;
        height: 1.59rem;
        .tan_cir{
            width: 0.92rem;
            height: 0.92rem;
            border-radius:50%;
            background: url($img +'7a94e7269702411.gif') no-repeat center/0.92rem;
        }
        .tanbox_stars{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 0.37rem;
            .tan_star{
                width: 0.24rem;
                height: 0.24rem;
                background: url($img +'star.gif') no-repeat center/0.22rem;
            }
        }
    }
    .tan_info{
        display: flex;
        flex-direction: column;
        width:5.36rem;
        height: 100%;
        font-size: 0.24rem;
        .taninfo_top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            height: 0.81rem;
            .info_us{
                color: #7d7d7d;
            }
            .info_zh{
                color: #000;
            }
        }
        .taninfo_center{
            width: 100%;
            height: 0.79rem;
            .info_mess{
                color: #7d7d7d;
            }
        }
        .taninfo_bottom{
            display: flex;
            width: 100%;
            height: 0.53rem;
            .iconnav{
                display: flex;
                align-items: center;
                width: 1.63rem;
                height: 100%;
                .photo{
                    width:0.32rem;
                    height: 0.32rem;
                    border-radius:50%;
                    background: blanchedalmond;
                }
                span{
                    padding-left: 0.08rem;
                }
                .photo_x{
                    background: url($img +'x.gif') no-repeat center/0.2rem 0.14rem;
                }
                .photo_t{
                    background: url($img +'t.gif') no-repeat center/0.2rem 0.2rem;
                }
                .photo_w{
                    background: url($img +'w.gif') no-repeat center/0.2rem 0.2rem;
                }
            }
        }
    }
}

footer .bacPoint {
    width: 1.1rem;
    height: 0.14rem;
    position: absolute;
    top: -0.07rem;
    right: 0.24rem;
    display: flex;
    justify-content: space-between;
}
