@charset "UTF-8";
@import url("../base.css");
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px;
  background: #F5F5F5;
  -webkit-tap-highlight-color: transparent;
  font-family: "苹方 粗体","微软雅黑",sans-serif; }

.banner {
  width: 100%;
  height: 4.15rem;
  position: relative; }
  .banner .main {
    width: 100%;
    height: 100%; }
    .banner .main img {
      width: 100%;
      height: 100%; }
  .banner ul {
    width: 0.8rem;
    height: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: .1rem;
    margin-left: -.4rem; }
    .banner ul li {
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 50%;
      background: #fff; }
    .banner ul li.active {
      width: 0.18rem;
      height: 0.18rem;
      border-radius: 50%;
      background: url("/Static/img/log/shuffling.png") no-repeat center/cover; }

.fixed {
  width: 100%;
  height: 1rem;
  position: absolute;
  top: .88rem;
  left: 0; }
  .fixed .backdrop {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5; }
  .fixed .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .fixed .content {
    position: absolute;
    top: 0;
    left: .24rem;
    width: 7.02rem;
    height: 100%; }
    .fixed .content .header {
      width: 1.05rem;
      height: .44rem;
      background: url("/Static/img/log/point.png") no-repeat left 68%;
      text-align: center;
      line-height: .55rem;
      font-size: .2rem;
      color: #7d9ac1; }
    .fixed .content form {
      position: relative; }
      .fixed .content form .search {
        width: 1.4rem;
        height: .3rem;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .fixed .content form .search a {
          width: 0.3rem;
          height: 0.3rem;
          background: url("/Static/img/log/search.png") no-repeat center/cover; }
        .fixed .content form .search a:first-child {
          background: url("/Static/img/log/voice.png") no-repeat center top/auto 0.4rem; }
        .fixed .content form .search div {
          width: 1px;
          height: 0.12rem;
          background-color: #4972A8; }
    .fixed .content input {
      width: 100%;
      height: .4rem;
      border: none;
      border-bottom: .02rem solid #6684ab;
      font-size: .24rem;
      outline: none;
      background: none;
      padding-bottom: .06rem; }

.content {
  width: 100%;
  height: 18.03rem; }
  .content ul {
    margin: 0 auto;
    width: 7.02rem; }
    .content ul li {
      width: 100%;
      height: 2.9rem;
      margin-bottom: .11rem;
      background: url("/Static/img/log/list1.png") no-repeat center/contain;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: .35rem .3rem .2rem .3rem;
      position: relative; }
      .content ul li h1 {
        font-family: 'PingFang SC Bold', '微软雅黑', sans-serif;
        font-size: .3rem;
        color: #fff; }
      .content ul li .information {
        height: .42rem;
        border-left: .07rem solid #fcc727;
        margin-top: -.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: .1rem;
        color: #d4d5d7; }
        .content ul li .information .details {
          display: flex; }
        .content ul li .information .address {
          display: flex; }
        .content ul li .information .details span {
          line-height: .14rem;
          font-family: 'SanFranciscoDisplay Regular', '微软雅黑', sans-serif;
          font-size: .16rem;
          margin-right: .1rem; }
        .content ul li .information .address span {
          line-height: .16rem;
          font-family: 'PingFang SC Regular', '微软雅黑', sans-serif;
          font-size: .16rem; }
      .content ul li a {
        line-height: .25rem;
        display: flex;
        align-items: center; }
        .content ul li a img {
          width: .25rem;
          height: .25rem;
          margin-right: .1rem; }
        .content ul li a span {
          font-family: 'SanFranciscoDisplay Regular', '微软雅黑', sans-serif;
          font-size: .16rem;
          color: #fff; }
        .content ul li a span:last-child {
          font-family: 'PingFang SC Bold', '微软雅黑', sans-serif; }
      .content ul li .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .content ul li .loading {
        width: 3.21rem;
        height: .85rem;
        margin: 0 auto;
        display: flex;
        align-items: center; }
        .content ul li .loading img {
          width: .59rem;
          height: .84rem;
          margin-right: .1rem; }
        .content ul li .loading span {
          font-family: 'PingFang SC Regular', '微软雅黑', sans-serif;
          font-size: .18rem;
          color: #999999; }
    .content ul li:first-child {
      margin-top: .3rem; }
    .content ul li:last-child {
      height: auto;
      background: none;
      margin-top: -.2rem; }
    .content ul li:nth-child(2) {
      background: url("/Static/img/log/list2.png") no-repeat center/contain; }
    .content ul li:nth-child(3) {
      background: url("/Static/img/log/list3.png") no-repeat center/contain; }
    .content ul li:nth-child(4) {
      background: url("/Static/img/log/list4.png") no-repeat center/contain; }
    .content ul li:nth-child(5) {
      background: url("/Static/img/log/list5.png") no-repeat center/contain; }

footer .bacPoint {
  width: 1.1rem;
  height: 0.14rem;
  position: absolute;
  top: -0.07rem;
  left: 1.54rem;
  display: flex;
  justify-content: space-between; }
