@import "../mixin";
@import url('../base.css');

$img:'/Static/img/log/';

//.banner{
//  width: 100%;
//  height: 4.15rem;
//  position: relative;
//  .main{
//    width: 100%;
//    height: 100%;
//    img{
//      width:100%;
//      height: 100%;
//    }
//  }
//  ul{
//    width: 1.2rem;
//    height: .2rem;
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    position: absolute;
//    left:50%;
//    bottom:.1rem;
//    margin-left: -.6rem;
//    li{
//      @include circle(.1rem);
//      background: #fff;
//    }
//    li.active{
//      @include circle(.18rem);
//      background: url($img +"shuffling.png")no-repeat center/cover;
//    }
//  }
//  .fixed{
//    width: 100%;
//    height: 1rem;
//    position: absolute;
//    top: 0;
//    left: 0;
//    .backdrop{
//      width: 100%;
//      height: 100%;
//      background: #000;
//      opacity: .5;
//    }
//    .mask{
//      width: 100%;
//      height: 100%;
//      position: absolute;
//      top: 0;
//      left: 0;
//    }
//    .content{
//      position: absolute;
//      top: 0;
//      left: .24rem;
//      width: 7.02rem;
//      height: 100%;
//      .head{
//        width: 1.05rem;
//        height: .44rem;
//        background: url($img +"point.png")no-repeat left 68%;
//        text-align: center;
//        line-height: .55rem;
//        font-size: .2rem;
//        color: #7d9ac1;
//      }
//      form{
//        position: relative;
//        .search{
//          width: 1.4rem;
//          height: .3rem;
//          position: absolute;
//          top: 0;
//          right: 0;
//          display: flex;
//          justify-content: space-around;
//          a{
//            @include cube(.3rem);
//            background: url($img +"search.png")no-repeat center/cover;
//          }
//          a:first-child{
//            background: url($img +"voice.png")no-repeat center top/auto .4rem;
//          }
//          span{
//            color: #fff;
//          }
//        }
//      }
//      input{
//        width: 100%;
//        height: .4rem;
//        border: none;
//        border-bottom: .02rem solid #6684ab;
//        font-size: .24rem;
//        outline:none;
//        background: none;
//        padding-bottom: .06rem;
//      }
//    }
//  }
//}

.banner {
  width: 100%;
  height: 4.15rem;
  position: relative;
  .main {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  ul {
    width: 0.8rem;
    height: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: .1rem;
    margin-left: -.4rem;
    li {
      @include circle(.1rem);
      background: #fff;
    }
    li.active {
      @include circle(.18rem);
      background: url($img +"shuffling.png") no-repeat center/cover;
    }
  }
}

.fixed {
  width: 100%;
  height: 1rem;
  position: absolute;
  top: .88rem;
  left: 0;
  .backdrop {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
  }
  .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .content {
    position: absolute;
    top: 0;
    left: .24rem;
    width: 7.02rem;
    height: 100%;
    .header {
      width: 1.05rem;
      height: .44rem;
      background: url($img +"point.png") no-repeat left 68%;
      text-align: center;
      line-height: .55rem;
      font-size: .2rem;
      color: #7d9ac1;
    }
    form {
      position: relative;
      .search {
        width: 1.4rem;
        height: .3rem;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          @include cube(.3rem);
          background: url($img +"search.png") no-repeat center/cover;
        }
        a:first-child {
          background: url($img +"voice.png") no-repeat center top/auto .4rem;
        }
        div {
          width: 1px;
          height: 0.12rem;
          background-color: #4972A8;
        }
      }
    }
    input {
      width: 100%;
      height: .4rem;
      border: none;
      border-bottom: .02rem solid #6684ab;
      font-size: .24rem;
      outline:none;
      background: none;
      padding-bottom: .06rem;
    }
  }
}


.content{
  width: 100%;
  height: 18.03rem;
  ul{
    margin:0 auto;
    width:7.02rem;
    li{
      width: 100%;
      height: 2.9rem;
      margin-bottom: .11rem;
      background: url($img +"list1.png")no-repeat center/contain;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: .35rem .3rem .2rem .3rem;
      position: relative;
      h1{
        font-family: 'PingFang SC Bold', '微软雅黑', sans-serif;
        font-size:.3rem;
        color: #fff;
      }
      .information{
        height: .42rem;
        border-left: .07rem solid #fcc727;
        margin-top: -.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: .1rem;
        color: #d4d5d7;
        .details{
          //margin-top: -.04rem;
          //height: .21rem;
          display: flex;
        }
        .address{
          //height: .21rem;
          display: flex;
        }
        .details span{
          line-height: .14rem;
          font-family: 'SanFranciscoDisplay Regular', '微软雅黑', sans-serif;
          font-size: .16rem;
          margin-right: .1rem;
        }
        .address span{
          line-height: .16rem;
          font-family: 'PingFang SC Regular', '微软雅黑', sans-serif;
          font-size: .16rem;
        }
      }
      a{
        line-height: .25rem;
        display: flex;
        align-items: center;
        img{
          width: .25rem;
          height: .25rem;
          margin-right: .1rem;
        }
        span{
          font-family: 'SanFranciscoDisplay Regular', '微软雅黑', sans-serif;
          font-size: .16rem;
          color: #fff;
        }
        span:last-child{
          font-family: 'PingFang SC Bold', '微软雅黑', sans-serif;
        }
      }
      .mask{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .loading{
        width: 3.21rem;
        height: .85rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img{
          width:.59rem;
          height: .84rem;
          margin-right: .1rem;
        }
        span{
          font-family: 'PingFang SC Regular', '微软雅黑', sans-serif;
          font-size: .18rem;
          color: #999999;
        }
      }
    }
    li:first-child{
      margin-top: .3rem;
    }
    li:last-child{
      height: auto;
      background: none;
      margin-top: -.2rem;
    }
    li:nth-child(2){
      background: url($img +"list2.png")no-repeat center/contain;
    }
    li:nth-child(3){
      background: url($img +"list3.png")no-repeat center/contain;
    }
    li:nth-child(4){
      background: url($img +"list4.png")no-repeat center/contain;
    }
    li:nth-child(5){
      background: url($img +"list5.png")no-repeat center/contain;
    }
  }
}

footer .bacPoint {
  width: 1.1rem;
  height: 0.14rem;
  position: absolute;
  top: -0.07rem;
  left: 1.54rem;
  display: flex;
  justify-content: space-between;
}

