@charset "UTF-8";
@import url("../base.css");
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px;
  background: #F5F5F5;
  -webkit-tap-highlight-color: transparent;
  font-family: "苹方 粗体","微软雅黑",sans-serif; }

body {
  width: 100%;
  height: 19rem;
  background: url("/Static/img/log/loglist/back.png") no-repeat center/100% auto; }

.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

header {
  width: 100%;
  height: 0.88rem;
  padding: 0 0.24rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header span:nth-child(1) {
    font-size: 0.28rem;
    color: #fff; }
  header span:nth-child(1) {
    font-size: 0.28rem;
    color: #fff; }
  header span:nth-child(2) {
    font-size: 0.18rem;
    color: #fff;
    font-family: 'SanFranciscoDisplay-Medium', 'roboto', 'sans-serif'; }
  header .return {
    width: 0.44rem;
    height: 0.44rem;
    background: url("/Static/img/log/loglist/return.png") no-repeat center/100% 100%;
    position: absolute;
    left: 0.24rem;
    top: 50%;
    margin-top: -0.22rem; }
