<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Payment/Choice_card.css">
</head>
<body>
<div class="user_bg">
    <div class="title">
        <div class="inner title_inner">
            <a href="" class="title_back"></a>
            <div class="title_title">
            </div>
            <div class="title_right">
                <a href="" class="title_btn">+</a>
            </div>
        </div>
    </div>
    <div class="user_info">
        <div class="photo"></div>
        <h5>小幸运</h5>
        <h6>Small Fortune</h6>
    </div>
</div>
<div class="content">
    <div class="carousel">
        <ul class="carousel_pic">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class="carousel_btn">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <ul class="card_info">
        <li>
            <div class="bank_number">
                <div class="circle"></div>
                <h4>银行卡号</h4>
                <p>6219 2789 2810 4436580</p>
            </div>
            <div class="translate">
                <p>Banknumber</p>
            </div>
        </li>
        <li>
            <div class="bank_number">
                <div class="circle"></div>
                <h4>身份验证</h4>
                <p>142201   1996   1209  2341</p>
            </div>
            <div class="translate">
                <p>Banknumber</p>
            </div>
        </li>
        <li>
            <div class="bank_number">
                <div class="circle"></div>
                <h4>开户行</h4>
                <p>中国交通银行</p>
            </div>
            <div class="translate">
                <p>Banknumber</p>
            </div>
        </li>
    </ul>
    <a href="" class="pay_btn">
        <div class="logo"></div>
        <div class="produce">
            <p>使用银行卡</p>
            <p>USE BANKCARD</p>
        </div>
    </a>
</div>
</body>
</html>