<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Payment/Order_details.css">
</head>
<body>
<div class="title">
    <div class="inner title_inner">
        <a href="/index.php/index/car_rent" class="title_back"></a>
        <div class="title_title">
            <h5>订单详情展示</h5>
            <span>ORDER DATAILS</span>
        </div>
        <div class="title_right"></div>
    </div>
</div>
<div class="title content">
    <ul class="order_list">
        <li>
            <p class="list_number">订单编号：8Y491234612123</p>
            <div class="Car_info">
                <div class="left"></div>
                <div class="right">
                    <h3>奔驰GLA</h3>
                    <i></i>
                    <p>取车时间：2017-02-10  15:20</p>
                    <p>还车时间：2017-02-14  17:30</p>
                    <h4>RMB 898.00</h4>
                </div>
            </div>
        </li>
    </ul>
    <div class="pay">
        <div class="pay_title">
            <div class="logo"></div>
            <div class="introduce">
                <h5>支付金额</h5>
                <p>DINGDANZHANSHIXIANG</p>
            </div>
        </div>
        <i></i>
        <div class="price">
            <div class="discount">
                <p>-200</p>
                <div class="logo"></div>
            </div>
            <h1>1796.00</h1>
        </div>
        <i></i>
        <div class="total">
            <div class="circle"></div>
            <div class="circle"></div>
            <p>已使用满减</p>
            <a href="">优惠券</a>
            <p>合计： </p>
            <p> 1596.00</p>
        </div>
    </div>
    <div class="order_details">
        <div class="left"></div>
        <ul class="right">
            <li>
                <div class="method">
                    <h4>订单号</h4>
                    <h5>ORDER NUMBER</h5>
                </div>
                <div class="info">
                    <p>313847583937295</p>
                </div>
            </li>
            <li>
                <div class="method">
                    <h4>配送时间</h4>
                    <h5>Delivery time</h5>
                </div>
                <div class="info">
                    <p>• 即刻配送 •</p>
                </div>
            </li>
            <li>
                <div class="method">
                    <h4>收货地址</h4>
                    <h5>Receiving address</h5>
                </div>
                <div class="info">
                    <p>山西省太原市平阳路南街3号</p>
                </div>
            </li>
        </ul>
    </div>
    <a href="/index.php/index/Payment_method" class="pay_btn">
        <div class="logo"></div>
        <div class="produce">
            <p>去结算</p>
            <p>PAYMENT</p>
        </div>
    </a>
</div>
</body>
</html>