<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php include 'App/views/meta.html' ?>
    <title>密码支付</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Payment/password.css">
    <script src="<?php echo JS_PATH ?>/jquery.min.js"></script>
    <script src="<?php echo JS_PATH ?>/pay/index.js"></script>
</head>
<body>
<div class="title">
    <div class="inner title_inner">
        <a href="/index.php/index/Payment_method" class="title_back"></a>
        <div class="title_title">
            <h5>银行卡支付</h5>
            <span>BANK CARD PAY</span>
        </div>
        <div class="title_right"></div>
    </div>
</div>
<div class="content">
    <div class="inner">
        <div class="BankCard_info">
            <div class="left"></div>
            <div class="right">
                <div class="bank">
                    <div class="top">
                        <h5>招商银行</h5>
                        <a href=""></a>
                    </div>
                    <p>ZHAOSHANGYINHANG</p>
                </div>
                <div class="CardNumber">
                    <p class="number">6219 2789 2810 4436580</p>
                    <div class="CardName">
                        <p class="name">Jim Green</p>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="password">
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
            <li><input type="text" value=""></li>
        </ul>
        <div class="Complete_payment">
            <h3>输入支付密码完成支付</h3>
            <p>Enter the payment password to complete the payment</p>
        </div>
    </div>
</div>
<div class="mask success">
    <div class="content">
        <div class="produce">
            <h3>支付成功 获得10元优惠券</h3>
            <h4> master,i  can  not  recognize  you</h4>
        </div>
        <ul class="btn">
            <li>
                <h5>
                    <a href="/index.php/index/Order_details">
                   <p>••</p>
                    立即使用
                    <p>••</p>
                    </a>
                </h5>
                <span>REPAYMENT</span>
            </li>
            <li>
                <h5>
                    <p>••</p>
                    下次再说
                    <p>••</p>
                </h5>
            </li>
        </ul>
    </div>
</div>
<div class="mask fail">
    <div class="content">
        <div class="produce">
            <h3>主人，小行没有识别到你啊</h3>
            <h4> master,i  can  not  recognize  you</h4>
        </div>
        <ul class="btn">
            <li>
                <a href="">
                <h5>
                    <p>••</p>
                    重新支付
                    <p>••</p>
                </h5>
                <span>REPAYMENT</span>
                </a>
            </li>
            <li>
                <h5>
                    <p>••</p>
                    下次再说
                    <p>••</p>
                </h5>
            </li>
        </ul>
    </div>
</div>
</body>
</html>