<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Payment/Payment_method.css">
</head>
<body>
<div class="title">
    <div class="inner title_inner">
        <a href="/index.php/index/Order_details" class="title_back"></a>
        <div class="title_title">
            <h5>订单详情展示</h5>
            <span>ORDER DATAILS</span>
        </div>
        <div class="title_right"></div>
    </div>
</div>
<div class="title content">
    <ul class="order_list">
        <li>
            <div class="Car_info">
                <div class="left"></div>
                <div class="right">
                    <h3>
                        本地钱包
                        <div class="fire"></div>
                        <div class="new"></div>
                    </h3>
                    <i></i>
                    <p>本地钱包完成支付可获得优惠和更多优惠    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="Car_info">
                <div class="left"></div>
                <div class="right">
                    <h3>
                        银行卡支付
                        <div class="logo">
                            03
                        </div>
                    </h3>
                    <i></i>
                    <p>使用绑定银行卡完成在线支付        </p>
                </div>
            </div>
        </li>
        <li>
            <div class="Car_info">
                <div class="left"></div>
                <div class="right">
                    <h3>货到付款</h3>
                    <i></i>
                    <p>选择货到付款提交订单后完成此次操作        </p>
                </div>
            </div>
        </li>
    </ul>
    <div class="third_party">
        <div class="inner">
            <div class="subject">
                <h3>选择第三方支付方式</h3>
                <h4>Third party payment</h4>
            </div>
            <ul class="method">
                <li class="alipay">
                    <div class="logo"></div>
                    <div class="produce">
                        <h4>选择支付宝方式</h4>
                        <h5>Select the Alipay payment</h5>
                    </div>
                </li>
                <li class="wechat">
                    <div class="logo"></div>
                    <div class="produce">
                        <h4>选择微信方式</h4>
                        <h5>Select WeChat payment</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a href="/index.php/index/password" class="pay_btn">
        <div class="logo"></div>
        <div class="produce">
            <p>去支付</p>
            <p>PAYMENT</p>
        </div>
    </a>
</div>
</body>
</html>