<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="complete attributes of css3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add to homescreen for Safari on Ios -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#14B42B">
    <meta name="apple-mobile-web-app-title" content="css3">
    <link rel="apple-touch-icon" href="/Static/img/logo.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="随心随行">
    <meta name="theme-color" content="#14B42B">
    <link rel="icon" sizes="192x192" href="/Static/img/logo.png">
    <title>首页</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Home/Home.css">
</head>
<body>
    <?php include 'App/views/default/tab_header.html' ?>

    <div class="banner">
        <div class="main">
            <img src="<?php echo IMG_PATH ?>/home/banner.png" alt="">
        </div>
        <ul>
            <li></li>
            <li class="active"></li>
            <li></li>
        </ul>
    </div>

    <div class="fixed">
        <div class="backdrop"></div>
        <div class="content">
            <div class="header">搜索</div>
            <form action="">
                <input type="text" placeholder="搜索景点、租车、日志...">
                <div class="search">
                    <a href=""></a>
                    <div></div>
                    <a href=""></a>
                </div>
            </form>
        </div>
        <a href="/index.php/index/search" class="mask"></a>
    </div>

    <div class="subject">
        <div class="con_header">
            <div class="left">
                <div class="one">
                    <span>主</span>
                    <div class="division"></div>
                    <span>题</span>
                    <div class="division"></div>
                    <span>分</span>
                    <div class="division"></div>
                    <span>类</span>
                    <div class="red"></div>
                    <div class="orange"></div>
                </div>
                <div class="two">
                    <span>SUBJECT</span>
                    <span>CLASS</span>
                </div>
            </div>
            <ul class="right">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <ul class="content">
            <li class="item">
                <div class="item_content">
                    <div class="title">
                        <div class="camera"></div>
                        <div class="word">
                            <span>古镇风光</span>
                            <span>ANCIENT TOWN</span>
                        </div>
                    </div>
                    <div class="img"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                </div>
                <div class="item_bac">
                    <div class="car"></div>
                </div>
            </li>
            <li class="item">
                <div class="item_content">
                    <div class="title">
                        <div class="camera"></div>
                        <div class="word">
                            <span>浪漫海景</span>
                            <span>ROMANTIC SEASCAPE</span>
                        </div>
                    </div>
                    <div class="img"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                </div>
            </li>
            <li class="item">
                <div class="item_content">
                    <div class="title">
                        <div class="camera"></div>
                        <div class="word">
                            <span>主题乐园</span>
                            <span>THEME PARK</span>
                        </div>
                    </div>
                    <div class="img"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                    <div class="point"></div>
                </div>
            </li>
        </ul>
    </div>

    <div class="popularSpot">
        <div class="con_header">
            <div class="left">
                <div class="one">
                    <span>热</span>
                    <div class="division"></div>
                    <span>门</span>
                    <div class="division"></div>
                    <span>景</span>
                    <div class="division"></div>
                    <span>点</span>
                    <div class="red"></div>
                    <div class="orange"></div>
                </div>
                <div class="two">
                    <span>POPULAR</span>
                    <span>SPOT</span>
                </div>
            </div>
            <ul class="right">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <ul class="content">
            <li class="item">
                <div class="img"></div>
                <div class="one">
                    <div class="name">
                        <span>挪威</span>
                        <span>NORWAY</span>
                    </div>
                    <ul class="score">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="two">
                    <div class="mark">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <div class="location">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <ul class="detail">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>+24</li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <div class="img"></div>
                <div class="one">
                    <div class="name">
                        <span>挪威</span>
                        <span>NORWAY</span>
                    </div>
                    <ul class="score">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="two">
                    <div class="mark">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <div class="location">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <ul class="detail">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>+24</li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <div class="img"></div>
                <div class="one">
                    <div class="name">
                        <span>挪威</span>
                        <span>NORWAY</span>
                    </div>
                    <ul class="score">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="two">
                    <div class="mark">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <div class="location">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <ul class="detail">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>+24</li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <div class="img"></div>
                <div class="one">
                    <div class="name">
                        <span>挪威</span>
                        <span>NORWAY</span>
                    </div>
                    <ul class="score">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="two">
                    <div class="mark">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <div class="location">
                        <div class="icon"></div>
                        <span>1980</span>
                    </div>
                    <ul class="detail">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>+24</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="selectedLog">
        <div class="con_header">
            <div class="left">
                <div class="one">
                    <span>精</span>
                    <div class="division"></div>
                    <span>选</span>
                    <div class="division"></div>
                    <span>日</span>
                    <div class="division"></div>
                    <span>志</span>
                    <div class="red"></div>
                    <div class="orange"></div>
                </div>
                <div class="two">
                    <span>SELECTED</span>
                    <span>LOG</span>
                </div>
            </div>
            <ul class="right">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <ul class="content">
            <li class="item">
                <div class="img"></div>
                <div class="item_content">
                    <span class="span1">散发无限魅力</span>
                    <span class="span2">和朋友趁着假期的时间,体验了一项一直向往的运动,很过瘾,也蛮有挑战性,值得纪念...</span>
                    <ul class="remark">
                        <li class="letter">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                        <li class="heart">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                        <li class="star_">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                    </ul>
                </div>
                <div class="personal">
                    <div class="personal_imgBox">
                        <div class="personal_img"></div>
                    </div>
                    <ul class="score">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="follow">已关注</div>
                </div>
            </li>
            <li class="item">
                <div class="img"></div>
                <div class="item_content">
                    <span class="span1">散发无限魅力</span>
                    <span class="span2">和朋友趁着假期的时间,体验了一项一直向往的运动,很过瘾,也蛮有挑战性,值得纪念...</span>
                    <ul class="remark">
                        <li class="letter">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                        <li class="heart">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                        <li class="star_">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                    </ul>
                </div>
                <div class="personal">
                    <div class="personal_imgBox">
                        <div class="personal_img"></div>
                    </div>
                    <ul class="score">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="follow">已关注</div>
                </div>
            </li>
            <li class="item">
                <div class="img"></div>
                <div class="item_content">
                    <span class="span1">散发无限魅力</span>
                    <span class="span2">和朋友趁着假期的时间,体验了一项一直向往的运动,很过瘾,也蛮有挑战性,值得纪念...</span>
                    <ul class="remark">
                        <li class="letter">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                        <li class="heart">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                        <li class="star_">
                            <div class="icon"></div>
                            <span>1980</span>
                        </li>
                    </ul>
                </div>
                <div class="personal">
                    <div class="personal_imgBox">
                        <div class="personal_img"></div>
                    </div>
                    <ul class="score">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="follow">已关注</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="recommend">
        <div class="con_header">
            <div class="left">
                <div class="one">
                    <span>景</span>
                    <div class="division"></div>
                    <span>点</span>
                    <div class="division"></div>
                    <span>推</span>
                    <div class="division"></div>
                    <span>荐</span>
                    <div class="red"></div>
                    <div class="orange"></div>
                </div>
                <div class="two">
                    <span>RECOMMENDED</span>
                    <span>SPOT</span>
                </div>
            </div>
            <ul class="right">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <ul class="content">
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <div class="bacPoint">
                <div></div>
                <div></div>
            </div>
            <ul class="liBox">
                <li></li>
                <li class="active"></li>
                <li></li>
            </ul>
        </ul>
    </div>

    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/tab_footer.css">
    <footer>
        <div class="bacPoint">
            <div class="point"></div>
            <div class="point"></div>
        </div>
        <ul>
            <li>
                <div class="div_008"></div>
                <div class="img"></div>
                <p>首页</p>
                <a href=""></a>
            </li>
            <li>
                <div class="img"></div>
                <p>日志</p>
                <a href="/index.php/index/log"></a>
            </li>
            <li>
                <div class="img"></div>
                <p>租车</p>
                <a href="/index.php/index/car_rent"></a>
            </li>
            <li>
                <div class="img"></div>
                <p>我的</p>
                <a href="/index.php/index/personal"></a>
            </li>
        </ul>
        <div class="add"></div>
    </footer>


</body>
</html>