<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php include 'App/views/meta.html' ?>
    <title>信息</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>/Register/message.css">
</head>
<body>
<!--  头部  -->
  <div class="tops">
    <div class="header">
        <a class="header-left" href="/index.php/login"></a>
        <div class="header-right">
            <a href="/index.php/login/login">登陆</a>
        </div>
    </div>
  </div>
<!--中间-->
  <div class="basic_message">
      <div class="numberone">
          <div class="circle">
              01
          </div>
      </div>
      <span class="span1">填写基本信息</span>
      <span class="span2">WRITE INFORMATION</span>
  </div>
  <form action="">
      <div class="hezi">
          <div class="user">
              <div class="pic"></div>
              <input type="text" placeholder=" 请输入用户名">
          </div>
          <div class="phone">
              <div class="pic"></div>
              <input type="text" placeholder=" 请输入您的手机号">
          </div>
          <div class="password">
              <div class="pic"></div>
              <input type="text" placeholder=" 请输入密码">
              <div class="kay"></div>

          </div>
          <div class="passwordagin">
              <div class="pic"></div>
              <input type="text" placeholder=" 再次输入密码">
          </div>
          <div class="member">
            <span>我要当会员</span>
              <span>GO ON TO BE VIP</span>
          </div>
      </div>

  </form>

</body>
</html>