<meta name="description" content="complete attributes of css3">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add to homescreen for Safari on Ios -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#14B42B">
<meta name="apple-mobile-web-app-title" content="css3">
<link rel="apple-touch-icon" href="/Static/img/logo.png">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="随心随行">
<meta name="theme-color" content="#14B42B">
<link rel="icon" sizes="192x192" href="/Static/img/logo.png">
<script src="<?php echo JS_PATH ?>/jQuery.js"></script>
<script src="<?php echo JS_PATH ?>/lazyload.js"></script>
<link rel="stylesheet" href="<?php echo CSS_PATH ?>/animate.min.css">