<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>music</title>
	<title>好友的个人中心</title>
	<link rel="stylesheet" href="css/friends.css" />
</head>
<body>
	<!--返回 信息-->
	<div class="btn">
		<div class="back"></div>
		<div class="look"></div>
	</div>
	
	<!--转发 点赞-->
	<div class="transmit_juicy">
		<div class="transmit"></div>
		<div class="juicy_box">
			<div class="juicy"></div>
			<div class="num">3096</div>
		</div>
	</div>
	
	<!--头像-->
	<div class="head_portrait_box">
		<div class="head_portrait"></div>
	</div>
	
	<!--头像下的文字个人信息-->
	<div class="info">
		<div class="info_top">
			<p>潜力股</p>
			<span>Small&nbsp;Fortune</span>
			<div class="strip"></div>
		</div>
		<div class="info_bottom">
			<div class="sign">越努力越幸福,我是潜力股</div>
			<div class="star">
				<div class="five_star"></div>
				<div class="five_star"></div>
				<div class="five_star"></div>
				<div class="five_star"></div>
			</div>
		</div>
	</div>
	
	<!--动态 关注 粉丝-->
	<div class="dynamic_state">
	<!--动态-->
		<!-- state椭圆盒子-->
		<div class="dynamicboxes state_box">
			<div class="dynamic_box">
				<div class="dynamic_left">
					<div class="dynamic_cirs follow"></div>
				</div>
				<div class="dynamic_right">
					<p class="font_top">动态</p>
					<p class="font_bottom">FOLLOW</p>
				</div>
			</div>
		</div>
		
	<!--关注attention-->
		<div class="dynamicboxes">
			<div class="dynamic_box">
				<div class="dynamic_left">
					<div class="dynamic_cirs collect"></div>
				</div>
				<div class="dynamic_right">
					<p class="font_top">关注</p>
					<p class="font_bottom">COLLECT</p>
				</div>
			</div>
		</div>
		
	<!--粉丝fans-->
		<div class="dynamicboxes">
			<div class="dynamic_box">
				<div class="dynamic_left fans_l">
					<div class="dynamic_cirs fans"></div>
				</div>
				<div class="dynamic_right fans_r">
					<p class="font_top">粉丝</p>
					<p class="font_bottom">FANS</p>
				</div>
			</div>
		</div>
	</div>	
	<!--朋友圈-->
	<div class="circle_of_friends">
		<div class="infos">
			<div class="con_left">
				<div class="head_por"></div>
			</div>
			<div class="con_con">
				<div class="sign_box">
					<div class="sign"></div>
				</div>
			</div>
			<div class="con_right">
				<div class="top_infobox">
					<div class="info_top">即便老了也要逛游乐园</div>
					<div class="info_bottom">
						<span>Even if old but go to park</span>
						<span>45分钟前</span>
					</div>
				</div>	
				<div class="info_photobox">
					<div class="info_photo"></div>
				</div>
				<div class="info_fontbox">
					<div class="info_font">即便老了也要逛游乐园，游乐园一生所爱，乐 此不疲...</div>
				</div>
				<div class="icon_bottom">
					<div class="iconbox">
						<div class="icon_photo x">
							<div class="photo photo_x"></div>
							<span>6400</span>
						</div>
						<div class="icon_photo t">
							<div class="photo photo_t"></div>
							<span>6400</span>
						</div>
						<div class="icon_photo w">
							<div class="photo photo_w"></div>
							<span>6400</span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
		<!--朋友圈-->
	<div class="circle_of_friends">
		<div class="infos">
			<div class="con_left">
				<div class="head_por"></div>
			</div>
			<div class="con_con">
				<div class="sign_box">
					<div class="sign"></div>
				</div>
			</div>
			<div class="con_right">
				<div class="top_infobox">
					<div class="info_top">即便老了也要逛游乐园</div>
					<div class="info_bottom">
						<span>Even if old but go to park</span>
						<span>45分钟前</span>
					</div>
				</div>	
				<div class="info_photobox">
					<div class="info_photo"></div>
				</div>
				<div class="info_fontbox">
					<div class="info_font">即便老了也要逛游乐园，游乐园一生所爱，乐 此不疲...</div>
				</div>
				<div class="icon_bottom">
					<div class="iconbox">
						<div class="icon_photo x">
							<div class="photo photo_x"></div>
							<span>6400</span>
						</div>
						<div class="icon_photo t">
							<div class="photo photo_t"></div>
							<span>6400</span>
						</div>
						<div class="icon_photo w">
							<div class="photo photo_w"></div>
							<span>6400</span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<!--朋友圈-->
	<div class="circle_of_friends">
		<div class="infos">
			<div class="con_left">
				<div class="head_por"></div>
			</div>
			<div class="con_con">
				<div class="sign_box">
					<div class="sign"></div>
				</div>
			</div>
			<div class="con_right">
				<div class="top_infobox">
					<div class="info_top">即便老了也要逛游乐园</div>
					<div class="info_bottom">
						<span>Even if old but go to park</span>
						<span>45分钟前</span>
					</div>
				</div>	
				<div class="info_photobox">
					<div class="info_photo"></div>
				</div>
				<div class="info_fontbox">
					<div class="info_font">即便老了也要逛游乐园，游乐园一生所爱，乐 此不疲...</div>
				</div>
				<div class="icon_bottom">
					<div class="iconbox">
						<div class="icon_photo x">
							<div class="photo photo_x"></div>
							<span>6400</span>
						</div>
						<div class="icon_photo t">
							<div class="photo photo_t"></div>
							<span>6400</span>
						</div>
						<div class="icon_photo w">
							<div class="photo photo_w"></div>
							<span>6400</span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
<!--底部按钮-->
<!--sendmessege  visualtelephone-->
<div class="footer">
	<div class="footer_box footer_sendmessege">
		<div class="center_box">
			<div class="cir_senmess cir_box"></div>
			<div class="footercons_box">
				<span class="zh">发消息</span>
				<span class="us">SEND&nbsp;MESSEGE</span>
			</div>
		</div>
	</div>
	<div class="footer_box footer_visphone">
		<div class="center_box">
			<div class="cir_visp cir_box"></div>
			<div class="footercons_box">
				<span class="zh">视频电话</span>
				<span class="us">Visual&nbsp;telephone</span>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>