<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>我的个人中心</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>/Personal/personal.css" />
</head>
<body>
	<!--顶部  定位功能-->
	<div class="nav">
		<div class="nav_box situer"></div>
		<div class="nav_box jour"></div>
	</div>
	
	<!--头像 修改签名-->
	<div class="header_con">
		<div class="con_box">
			<div class="write"></div>
			<div class="header"></div>
			<div class="setting"></div>
		</div>
	</div>
	
	<!--星级-->
	<div class="star_box">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
	
	<!--签名-->
	<div class="singer_box">
		<p class="name_zh">小幸运</p>
		<p class="name_us">Small Fortune</p>
		<p class="singer">人生就像一场旅行,沿途的风景和看风景的心情</p>
	</div>
	
	<!--我的粉丝和关注-->
	<div class="attenfans">
		<a href="" class="myatten_bg"></a>
		<a href="/index.php/index/fun_list" class="myfans_bg"></a>
	</div>
	
	<!--功能-->
	<div class="faculte">
		<!--消息-->
		<div class="facultebox news">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir news_cir"></div>
				</div>
				<div class="fonts">
					<!--<span class="fonts_zh">我的消息</span>
					<span class="font_us">MY OEDER</span>-->
				</div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="news_btn"></div>					
				</div>				
			</div>
		</div>
		<!--订单-->
		<div class="facultebox oeder">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir oeder_cir"></div>
				</div>
				<div class="fonts"></div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>				
			</div>
		</div>
		<!--钱包-->
		<div class="facultebox wallet">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir wallet_cir"></div>
				</div>
				<div class="fonts"></div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>				
			</div>
		</div>
		<!--优惠券-->
		<div class="facultebox privilege">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir privilege_cir"></div>
				</div>
				<div class="fonts"></div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>				
			</div>
		</div>
		<!--申请志愿者-->
		<div class="facultebox volunteer">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir volunteer_cir"></div>
				</div>
				<div class="fonts"></div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>				
			</div>
		</div>
	</div>
</body>
</html>