<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<?php include 'App/views/meta.html' ?>
	<title>个人中心</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>/Personal/personal.css" />
</head>
<body>
	<!--顶部  定位功能-->
	<div class="nav">
		<div class="nav_box situer"></div>
		<div class="nav_box jour"></div>
	</div>
	
	<!--头像 修改签名-->
	<div class="header_con">
		<div class="con_box">
			<div class="write"></div>
			<div class="header"></div>
			<div class="setting"></div>
		</div>
	</div>
	
	<!--星级-->
	<div class="star_box">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
	
	<!--签名-->
	<div class="singer_box">
		<p class="name_zh">小幸运</p>
		<p class="name_us">Small Fortune</p>
		<p class="singer">人生就像一场旅行,沿途的风景和看风景的心情</p>
	</div>
	
	<!--我的粉丝和关注-->
	<div class="attenfans">
		<a href="" class="myatten_bg"></a>
		<a href="/index.php/index/fun_list" class="myfans_bg"></a>
	</div>

	<!--功能-->
	<div class="faculte">
		<!--消息-->
		<div class="facultebox news">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir news_cir"></div>
				</div>
				<div class="fonts">
					<span class="fonts_zh">我的消息</span>
					<span class="font_us">MY OEDER</span>
				</div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="news_btn">06</div>
				</div>
			</div>
		</div>
		<!--订单-->
		<div class="facultebox oeder">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir oeder_cir"></div>
				</div>
				<div class="fonts">
					<span class="fonts_zh">我的订单</span>
					<span class="font_us">MY OEDER</span>
				</div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>
			</div>
		</div>
		<!--钱包-->
		<div class="facultebox wallet">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir wallet_cir"></div>
				</div>
				<div class="fonts">
					<span class="fonts_zh">我的钱包</span>
					<span class="font_us">MY WALLET</span>
				</div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>
			</div>
		</div>
		<!--优惠券-->
		<div class="facultebox privilege">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir privilege_cir"></div>
				</div>
				<div class="fonts">
					<span class="fonts_zh">我的优惠券</span>
					<span class="font_us">MY PRIVLEGE</span>
				</div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>
			</div>
		</div>
		<!--申请志愿者-->
		<div class="facultebox volunteer">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir volunteer_cir"></div>
				</div>
				<div class="fonts">
					<span class="fonts_zh">申请志愿者</span>
					<span class="font_us">VOLUNTEER</span>
				</div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="btns"></div>
				</div>
			</div>
		</div>

		<!--我的收藏 collection-->
		<div class="facultebox news">
			<div class="facultebox_left">
				<div class="icons">
					<div class="cir collection_cir"></div>
				</div>
				<div class="fonts">
					<span class="fonts_zh">我的收藏</span>
					<span class="font_us">COLLECTION</span>
				</div>
			</div>
			<div class="facultebox_right">
				<div class="btn_box">
					<div class="news_btn">MORE</div>
				</div>
			</div>
		</div>
	</div>

	<!--个人动态-->
	<div class="tandance">
		<div class="tan_headbox">
			<div class="tan_cir"></div>
			<div class="tanbox_stars">
				<div class="tan_star"></div>
				<div class="tan_star"></div>
				<div class="tan_star"></div>
				<div class="tan_star"></div>
			</div>
		</div>
		<div class="tan_info">
			<div class="taninfo_top">
				<span class="info_zh">挪威我的梦</span>
				<span class="info_us">Norway my dream</span>
			</div>
			<div class="taninfo_center">
				<span class="info_mess">挪威是我一直向往的地方,有生之年去一次挪威 着实是人生一大幸事...</span>
			</div>

			<div class="taninfo_bottom">
				<div class="iconnav">
					<div class="photo photo_x"></div>
					<span>6400</span>
				</div>
				<div class="iconnav">
					<div class="photo photo_t"></div>
					<span>6400</span>
				</div>
				<div class="iconnav">
					<div class="photo photo_w"></div>
					<span>6400</span>
				</div>
			</div>
		</div>
	</div>

	<link rel="stylesheet" href="<?php echo CSS_PATH ?>/tab_footer.css">
	<footer>
		<div class="bacPoint">
			<div class="point"></div>
			<div class="point"></div>
		</div>
		<ul>
			<li>
				<div class="img"></div>
				<p>首页</p>
				<a href="/index.php"></a>
			</li>
			<li>
				<div class="img"></div>
				<p>日志</p>
				<a href="/index.php/index/log"></a>
			</li>
			<li>
				<div class="img"></div>
				<p>租车</p>
				<a href="/index.php/index/car_rent"></a>
			</li>
			<li>
				<div class="div_008"></div>
				<div class="img"></div>
				<p>我的</p>
				<a href=""></a>
			</li>
		</ul>
		<div class="add"></div>
	</footer>
</body>
</html>