<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<?php include 'App/views/meta.html' ?>
	<title>我的个人中心</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH?>/Personal/PersonalCenter.css">
</head>
<body style="background:#F5F5F5">
<!-- 头部 -->

	<div class="header">
        <div class="container-fluid">
            <div class="nav">
                <div class="return">
                    <a href="#"><span></span></a>
                </div>
                <div class="title">
                    <h2>
                        粉丝列表
                    </h2>
                    <span>FRIEND LIST</span>
                </div>
            </div>
        </div>  
	</div>  

	<div class="head">
		<div class="heads">
			<span></span>
		</div>
		<div class="headscon">
			<span>新增好友 </span>
			<span class="wz">查看我的新增好友信息</span>
		</div>
		<div class="headsrig">
			<span>05</span>
		</div>
	</div>

	<div class="headb">
		<div class="headsb">
			<span></span>
		</div>
		<div class="headsconb">
			<span>特殊关注 </span>
			<span class="wzb">您可以加入三位好友作为特殊关注</span>
		</div>
		<div class="headsrigb">
			<span></span>
		</div>
	</div>  

<!-- 全部粉丝 -->
	<div class="friends">
		<div class="friend">
			<span></span>
			<span></span>
			<h2>全&nbsp&nbsp部&nbsp&nbsp粉&nbsp&nbsp丝</h2>
			<h3>ALL FRIENDS</h3>

		</div>
	</div>

<!-- 好友数量	 -->
	<div class="haoyou">
		<span>当前您的好友数量为</span>
		<span>256</span>
	</div>


	<div class="search">
        <button>
            <span></span>
            <span></span>
            Search
        </button>
            <span class="s-xian"></span>
            <input type="text" class="search-p" placeholder="请输入您要搜索的好友">
            <a href="#" class="vioce"><span></span></a>
    </div>



    <div class="sanl">
    	<span>A.&nbsp&nbsp&nbsp36</span>
    </div>


    <!-- 内容 -->
    <div class="foots">
    	<div class="footl">
    		<div class="footls photo"></div>
    	</div>
    	<span class="xian"></span>
    	<div class="wz">
    		<span class="wzs">阿拉蕾</span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>

    	</div>
    	<div class="footc">
    		<span>一个爱笑爱旅游追求自由...</span>
    		<div class="footcc">
    			<div class="jian"></div>
    			<div class="footcs">TAIYUAN&nbsp&nbspSHANXI</div>
    		</div>	
    	</div>

    	<div class="footr">
    		<span class="text">未关注</span>
    	</div>
    	
    </div>


    <div class="foots">
    	<div class="footl">
    		<div class="footls photoa"></div>
    	</div>
    	<span class="xian"></span>
    	<div class="wz">
    		<span class="wzs">安琪儿</span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		
    	</div>
    	<div class="footc">
    		<span>像天使般美丽温柔,给予别人温暖...</span>
    		<div class="footcc">
    			<div class="jian"></div>
    			<div class="footcs">TAIYUAN&nbsp&nbspSHANXI</div>
    		</div>	
    	</div>

    	<div class="footr bg_color">
    		<span class="text">已关注</span>
    	</div>
    	
    </div>



    <div class="foots">
    	<div class="footl">
    		<div class="footls photoc"></div>
    	</div>
    	<span class="xian"></span>
    	<div class="wz">
    		<span class="wzs">安吉</span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		
    	</div>
    	<div class="footc">
    		<span>像天使般美丽温柔,温柔...</span>
    		<div class="footcc">
    			<div class="jian"></div>
    			<div class="footcs">TAIYUAN&nbsp&nbspSHANXI</div>
    		</div>	
    	</div>

    	<div class="footr">
    		<span class="text">未关注</span>
    	</div>
    	
    </div>




    <div class="foots">
    	<div class="footl">
    		<div class="footls photod"></div>
    	</div>
    	<span class="xian"></span>
    	<div class="wz">
    		<span class="wzs">阿拉蕾</span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		<span class="xin"></span>
    		
    	</div>
    	<div class="footc">
    		<span>一个爱笑爱旅游追求自由...</span>
    		<div class="footcc">
    			<div class="jian"></div>
    			<div class="footcs">TAIYUAN&nbsp&nbspSHANXI</div>
    		</div>	
    	</div>

    	<div class="footr bg_color">
    		<span class="text">已关注</span>
    	</div>
    	
    </div>

</body>
</html>